body {
    background-color: #EFE9E3;
    font-family: monospace;

}

h1 {
    text-align: center;
    color: brown;
}


table {
    margin: 0 auto;
    text-align: center;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #D9CFC7;
    background-color: #D9CFC7;
    font-weight: bold;
    font-size: 20px;

}

.container {
    text-align: center;
}


.smiley-btn {
    width: 50px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    background-color: #EFE9E3;
    border: none;
}

.util {
    display: inline-block;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}


.mine-count {
    display: inline-block;
}

.lives-count {
    display: inline-block;
}

.cell-hover:hover {
    background-color: #F9F8F6;
    cursor: pointer;
}

.smiley-btn:hover {
    cursor: pointer;
}

.cell-content {
    display: none;
}

.cell-mark {
    display: none;
}

.num-1 {
    color: blue
}
.num-2 {
    color: green
}
.num-3 {
    color: red
}

.levels-container {
    text-align: center;
    margin-bottom: 20px;
}


.level {
    width: 60px;
    height: 30px;
    font-size: small;
    text-align: center;
    background-color: #D9CFC7;
    font-family: monospace;
    font-size: 12px;
    border: none;
    border-radius: 15%;

}
.clicked {
    background-color: #F9F8F6
}

footer {
    margin: 20px;
    text-align: center;
    font-size: large;
}