body {
    background-color: #EFE9E3;
    font-family: monospace;

}

h1 {
    text-align: center;
    color: brown;
}


table {
    margin: 0 auto;
    text-align: center;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #D9CFC7;
    background-color: #D9CFC7;
    font-weight: bold;
    font-size: 20px;

}

.smiley-container {
    padding: 10px;
    text-align: center;
}


.smiley-btn {
    width: 50px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    background-color: #EFE9E3;
    border: none;
}

.timer {
    display: inline-block;
}


.mine-count {
    display: inline-block;
}

.cell-hover:hover {
    background-color: #F9F8F6;
    cursor: pointer;
}

.smiley-btn:hover {
    cursor: pointer;
}

.cell-content {
    display: none;
}

.cell-mark {
    display: none;
}

.num-1 {
    color: blue
}
.num-2 {
    color: green
}
.num-3 {
    color: red
}