body {
    background-color: #EFE9E3;
    font-family: monospace;

}

h1 {
    text-align: center;
    color: brown;
}

table {
    margin: 0 auto;
    text-align: center;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #D9CFC7;
    background-color: #D9CFC7;

}

.cell:hover {
    background-color: #F9F8F6;
    cursor: pointer;
}

.cell-content {
    display: none;
}

.cell-mark {
    display: none;
}