h1 {
    text-align: center;
    color: brown;
}

table {
    margin: 0 auto;
    text-align: center;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid black;

}

.cell-content {
    display: none;
}

.cell-mark {
    display: none;
}